* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfe549;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
@font-face {
    font-family: 'long_pixel-7';
    src: url('../assets/fonts/long_pixel-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
